# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories (vendor/)
vendor/

# IDE specific files
.idea/
.vscode/
*.iml

# Logs and temporary files
*.log
*.tmp

storage